{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "bootstrap\css\bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css\base.css" %}">
</head>
<body>
    <header class="bg-dark" data-bs-theme="dark">
        <nav class="navbar navbar-expand-lg container">
            <div class="container-fluid">
                <a href="{% url 'main:product_list' %}" class="navbar-brand">Шаурма от Байдена</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        {% for category in categories %}
                        <li>
                            <a href="{{ category.get_absolute_url }}" class="nav-link">
                                {{ category.name }}
                            </a>
                        </li>    
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="container">
        {% block content %}
        {% endblock content %}
    </section>

    <div class="fixed-bottom bg-dark" data-bs-theme="dark">
        <div class="container">
            <footer class="py-3 my-4">
                <p class="text-center text-body-secondary">© 2025 Сочная Шава</p>
            </footer>
        </div>
    </div>


    <script src="{% static "bootstrap\js\bootstrap.bundle.min.js" %}"></script>
</body>
</html>